* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: black;
  background: url(./img/midorabackground2.jpeg) no-repeat;
  background-size: cover;
}

/* Nav */
nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  background: transparent;
  transition: all 0.5s ease;
}
.logo {
  color: black;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}

.navlist {
  cursor: pointer;
  display: flex;
}

.navlist a {
  margin: 0px 10px;
  padding: 5px 10px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: blue;
}

#menu-icon {
  color: black;
  font-size: 32px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.card {
  margin-top: 250px;
  margin-left: 61%;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 0px rgba(5, 5, 5, 0.13);
  text-align: center;
  cursor: pointer;
  width: 400px;
  height: 500px;
  backdrop-filter: blur(15px);
}

.card:hover {
  box-shadow: 0px 11px 16px 0px rgba(5, 5, 5, 0.23);
  transition: all 0.3s;
}

.card-header {
  font-size: 30px;
  font-weight: bold;
  padding: 1.5rem;
}
.card-description {
  font-size: 17px;
  padding: 4%;
}

/* Responsive */
@media screen and (max-width: 1150px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 20px 5%;
  }
}

@media screen and (max-width: 600px) {
  #menu-icon {
    display: block;
  }

  #navlist {
    display: none;
    transition: all 0.3s ease;
    transform: translateY(-100%);
  }

  #navlist.active {
    display: block;
    transform: translateY(0);
  }

  nav.active {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px rgba(5, 5, 5, 0.13);
    text-align: center;
    cursor: pointer;
    width: 90%;
    max-width: 400px;
    height: auto; 
    backdrop-filter: blur(15px);
  }
}
