* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    color: black;
    font-size: 16px;
}

/* Nav */
nav {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: transparent;
    transition: all .50s ease;
}
.logo {
    color: black;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}

.navlist {
    cursor: pointer;
    display: flex;
}

.navlist a {
    margin: 0px 10px;
    padding: 5px 10px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    transition: all .50s ease;
}

.navlist a:hover {
    color: blue;
}

#menu-icon {
    color: black;
    font-size: 32px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.titulo {
	margin-top: 5rem;
}

.titulo > h3{
	font-weight: 600;
	text-align: center;
	margin-top: 10rem;
	left: 0;
	top: 0;
	width: 100%;
	position: absolute;
	font-weight: 700;
}
.titulo > h1{
	text-align: center;
	margin-top: 7rem;
	left: 0;
	top: 0;
	width: 100%;
	position: absolute;
	font-weight: 700;
}

.cont-info{
	background-color: white;
	width: 90%;
	padding: 0 5% 5% 5%;
	height: 60px;
    margin-top: 8rem;
}

	.container {
		padding: 40px 5%;
	}

.image-gallery {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
  
.image-gallery .column {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
.image-item img {
	width: 100%;
	border-radius: 5px;
	height: 100%;
	object-fit: cover;
  }
  
@media only screen and (min-width: 768px) {
	.image-gallery {
	  flex-direction: row;
	}
  }
  
  .image-item {
	position: relative;
  }

@media screen and (max-width: 600px) {
  #menu-icon {
    display: block;
  }

  #navlist {
    display: none;
    transition: all 0.3s ease;
    transform: translateY(-100%);
  }

  #navlist.active {
    display: block;
    transform: translateY(0);
  }

  nav.active {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .cont-info {
	margin-top: 11rem;
  }

  .titulo h1 {
	margin-top: 10rem;
  }

  .titulo h3 {
	margin-top: 13rem;
  }
}