*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(175, 177, 255));
	font-family: 'Poppins', sans-serif;

}
h1 {
    font-size: 2em;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-top: 8rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
nav {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: transparent;
    transition: all .50s ease;
}
.logo {
    color: black;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}

.navlist {
    cursor: pointer;
    display: flex;
}

.navlist a {
    margin: 0px 10px;
    padding: 5px 10px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    transition: all .50s ease;
}

.navlist a:hover {
    color: rgb(88, 88, 121);
}

#menu-icon {
    color: black;
    font-size: 32px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 20px;
}
.card{
	margin-top: 12rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.cards .card .container img{
	background-size: cover;
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.15;
}
.card1>.container:after{
    background-image: linear-gradient(135deg, #48c6ef  , #6f86d6);
}
.card2>.container:after{
    background-image: linear-gradient(135deg, #48c6ef  , #6f86d6);
}

.card3>.container:after{
    background-image: linear-gradient(135deg, #48c6ef  , #6f86d6);
}

.content{
    padding: 20px 10px;
}

.content h3{
   font-size: 24px;
   margin: 10px 0 15px 0; 
}

.content p{
    color: rgb(119, 120, 173);
    font-size: 16px;
    line-height: 30px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
  
@media screen and (max-width: 600px) {
	#menu-icon {
	  display: block;
	}
  
	#navlist {
	  display: none;
	  transition: all 0.3s ease;
	  transform: translateY(-100%);
	}
  
	#navlist.active {
	  display: block;
	  transform: translateY(0);
	}
  
	nav.active {
	  background: rgba(0, 0, 0, 0.8);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 100px;
	  left: 0;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	}
	
	h1 {
		margin-top: 9rem;
	}

@media screen and (max-width: 392px) {
        .card {
            margin-top: 15rem;
        }
    }
  }
